li a span {
	margin-right: 5px; 
}

#createEditionRow {
	text-align: center;
}

#editionsDropdown .caret {
	margin-left: 10px;
}

.dropdown-menu>li>a#selectedEdition {
	font-weight: bold;
}

.dropdown-menu>li>a.editionsDropdownOption:hover {
	cursor: pointer;
}