/* Spacing above/below delete modal error message */
#deleteEditionError {
    margin-bottom: 0px;
    margin-top: 10px;
}

/* Put space between each glyphicon and its button text */
.editionModifyToolbarButton span {
	padding-right: 10px;
}

/*
 * All toolbar buttons should be the same width by default, along with
 * the disabled delete button (which has more text to display)
 */
.editionModifyToolbarButton,
#deleteEditionButton:disabled {
	width: 105pt;
}

/* Fit the size to the regular delete button */
#deleteEditionButton {
	width: 70pt;
}

/* Put space around the button groups */
.editionModifyButtonGroup {
    padding-left: 15px;
}

@media (max-width: 767px) {
    
    /* Make some of the toolbar buttons smaller for smaller width devices */
    .editionModifyToolbarButton, #deleteEditionButton {
    	width: 40pt;
    }
    
    /*
     * Since there's no text for buttons on small screens, remove padding
     * EXCEPT for the disabled delete button since that has text still.
     */
    .editionModifyToolbarButton:not(:disabled) span {
    	padding-right: 0px;
    }
}