/* Put space between each glyphicon and its button text */
.editionModifyToolbarButton span {
	padding-right: 10px;
}

/* All toolbar buttons should be the same width by default */
.editionModifyToolbarButton {
	width: 105pt;
}

/* Fit the size to the delete button */
#deleteEditionButton {
	width: 70pt;
}

/* Put space on the left in between the button group and the edition name */
.editionModifyButtonGroup {
	padding-left: 15px;
}

/* Make some of the toolbar buttons smaller for smaller width devices */
@media (max-width: 767px) {
    .editionModifyToolbarButton, #deleteEditionButton {
    	width: 40pt;
    }

    .editionModifyToolbarButton span {
    	padding-right: 0px;
    }
}