/* Push the delete button to the right and set the tint color to red */
#deleteSectionButton {
	color: red;
	float: right;
}

/* Add pointer cursor when we hover over the delete button */
#deleteSectionButton:hover {
	cursor: pointer;
}

/* Center the "add article" row and set the tint color */
#addArticleRow {
	text-align: center;
	color: #009444;
}

/* Add pointer cursor and make the row gray whenever we hover over it */
#addArticleRow:hover {
	cursor: pointer;
	background-color: #fbfbfb;
}